.validation {
  width: 100%;
  text-align: center;

  & .validation__header {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  & .validation__message {
    white-space: break-spaces;
  }
}
