.squad {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;

  & > div {
    max-width: 250px;
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}
