/* Global styles */

@import "./styles/_colors.css";
@import "./styles/_fonts.css";

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

main {
  max-width: 85%;
  margin: auto;
  padding: 0.5rem;
  padding-bottom: 2rem;
}
